svg{
    width: 2rem;
    height: 1.8rem;
}

.ant-badge{
    margin: 0 5%;
}

.buyer-nav-container{
    background-color: rebeccapurple;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 4;
    align-items: center;
}
.buyer-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo{
    width: 140px;
    height: 50px;
    background-color: white;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    margin-left: 10%;
    padding-left: 40px;
    font-weight: 400;
    color: black;
    font-size: smaller
}

.navbar-links{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}